// small size
@media screen and (min-width: 392px) and (max-width: 521px) {
  .modalBox {
    .topBox {
      .topBoxContainer {
        .checkMarkContainer {
          .checkMark {
            margin-bottom: 1.5em;
          }
        }
      }
    }
  }
}

// medium size
@media screen and (min-width: 522px) and (max-width: 768px) {
  .modalContainer {
    margin-top: auto;
  }
  .modalBox {
    position: relative;
    max-width: 75%;
    margin-top: 30vh;

    .bottomBox {
      padding-top: 1em;
      margin: 1em 0 0;
    }

    .boxContainer {
      padding-top: 1.5em;
      margin: 0 auto;

      .topBox {
        .checkMark {
          height: 26px;
          margin-bottom: 1em;
        }
      }

      .middleBox {
        padding-bottom: 0.7em;
        // margin: 0 auto;
      }
    }
  }

  .bottomBox {
    padding: 1em;
    .buttonsContainer {
      display: block;
      text-align: center;
      margin: 0 auto;
      width: 85%;
      .buttonContainer {
        padding: 5px 0;
        display: inline-block;
        width: 40%;
        .cancelButton {
          width: 100%;
        }
        .continueButton {
          width: 100%;
        }
      }
    }
  }
}

// large
@media screen and (min-width: 769px) and (max-width: 1170px) {
  .modalContainer {
    margin-top: auto;
  }

  .modalBox {
    max-width: 80%;
    width: 75%;
    margin: auto;
    position: relative;
    margin-top: 30vh;

    .bottomBox {
      margin: 1em 0 0;
      padding-top: 1em;
    }

    .middleBox {
      // margin: 0 auto;
    }

    .boxContainer {
      margin: 0 auto;
      padding: 1em 0;
    }

    .topBox {
      .checkMark {
        margin-bottom: 1.3em;
      }
      .modalHeader {
        width: 80%;
        font-size: 20px;
      }
    }
  }

  .bottomBox {
    padding: 1em;
    .buttonsContainer {
      display: block;
      text-align: center;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      width: 70%;
      .buttonContainer {
        padding: 5px 0;
        display: inline-block;
        width: 40%;
        .cancelButton {
          width: 100%;
        }
        .continueButton {
          width: 100%;
        }
      }
    }
  }
}

// larger
@media screen and (min-width: 1045px) and (max-width: 1170px) {
  .modalBox {
    .topBox {
      .checkMark {
        margin-bottom: 0;
      }
    }
  }
}

// XL
@media screen and (min-width: 1171px) {
  .modalContainer {
    margin-top: auto;
  }
  .modalBox {
    max-width: 60%;
    position: relative;
    margin: auto;
    margin-top: 30vh;

    .bottomBox {
      margin: 1em 0 0;
      padding-top: 1em;
    }

    .boxContainer {
      margin: 0 auto;
      padding: 1em 0 0.5em;
    }

    .topBox {
      display: block;
      width: 100%;
      padding: 1em;
      padding-bottom: 0;

      .checkMarkContainer {
        width: 40px;
      }

      .checkMark {
        height: 30px;
        margin-bottom: 1.5em;
      }

      .modalHeader {
        font-size: 1.5em;
      }
    }

    .middleBox {
      width: 90%;
      padding-bottom: 1em;

      .messageText {
        display: block;
        margin: 0 auto;
        width: 90%;
        font-size: 1em;
      }
    }
  }
  .bottomBox {
    padding: 1em;
    .buttonsContainer {
      display: block;
      text-align: center;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      width: 70%;
      .buttonContainer {
        padding: 5px;
        .cancelButton {
          width: 100%;
        }
        .continueButton {
          width: 100%;
        }
      }
    }
  }
}
